<div class="space-y-4">
    <h1> Choissiez les chapitres pour jouer</h1>
    <%= link_to "Home", root_path, class: "bg-surfgreen text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700 inline-block" %>
</div>