<div class="space-y-4">
    <h1> Choissiez les chapitres pour jouer</h1>

    <button class="bg-surfgreen helvetica-text text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700">
        Chapitre 1
      </button>
      <button class="bg-surfgreen helvetica-text text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700">
        Chapitre 2
      </button>
      <button class="bg-surfgreen helvetica-text text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700">
        Chapitre 3
      </button>
      <button class="bg-surfgreen helvetica-text text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700">
        Chapitre 4
      </button>
      <%= link_to "Tous les chapitres", jeu_index_path, class: "bg-surfgreen text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700 inline-block" %>
    <%= link_to "Home", root_path, class: "bg-surfgreen text-black font-serif py-2 px-4 rounded-lg hover:bg-indigo-700 inline-block" %>
</div>